<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Requis pour NEDNSSettingsManager -->
    <key>com.apple.developer.networking.dns-settings</key>
    <true/>
    <!-- Associated Domains pour deep links -->
    <key>com.apple.developer.associated-domains</key>
    <array>
        <string>applinks:movix.cash</string>
    </array>
</dict>
</plist>
