WATCHPARTY_PORT=YOUR_WATCHPARTY_PORT # Exemple: 4000
WATCHPARTY_CORS_CREDENTIALS=YOUR_WATCHPARTY_CORS_CREDENTIALS # Exemple: true
WATCHPARTY_REST_CORS_ORIGIN=YOUR_WATCHPARTY_REST_CORS_ORIGIN # Exemple: https://movix.rodeo
WATCHPARTY_SOCKET_CORS_ORIGIN=YOUR_WATCHPARTY_SOCKET_CORS_ORIGIN # Exemple: https://movix.rodeo
WATCHPARTY_SOCKET_CORS_METHODS=YOUR_WATCHPARTY_SOCKET_CORS_METHODS # Exemple: GET,POST
