PORT=YOUR_PROXIESEMBED_PORT # Exemple: 8080
DB_HOST=YOUR_DB_HOST # Exemple: localhost
DB_PORT=YOUR_DB_PORT # Exemple: 3306
DB_USER=YOUR_DB_USER # Exemple: root
DB_PASSWORD=YOUR_DB_PASSWORD # Exemple: motdepassefort
DB_NAME=YOUR_DB_NAME # Exemple: movix
PROXY_BASE=YOUR_PROXY_BASE # Exemple: https://proxy.movix.rodeo
PROXIES_SOCKS5_JSON=YOUR_PROXIES_SOCKS5_JSON # Exemple: [{"url":"socks5://user:pass@127.0.0.1:1080"}] ou [{"host":"127.0.0.1","port":1080,"auth":"user:pass","type":"socks5"}]
SIBNET_PROXY_SOCKS5_JSON=YOUR_SIBNET_PROXY_SOCKS5_JSON # Exemple: {"url":"socks5://user:pass@127.0.0.1:1081"} ou {"host":"127.0.0.1","port":1081,"auth":"user:pass","type":"socks5"}
FRANCETV_EMAIL=YOUR_FRANCETV_EMAIL
FRANCETV_PASSWORD=YOUR_FRANCETV_PASSWORD
DEEPBRID_API_KEY=YOUR_DEEPBRID_API_KEY
REAL_DEBRID_API_KEY=YOUR_REAL_DEBRID_API_KEY
